body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
}
.content{
    background-color: #171717;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.tittle-container{
    display: flex;
    margin-left: 20px;
    width: 100%;
}
.library-title{
    display: flex;
    justify-content: center;
    background-color: #171717;
    width: 100%;
    color: white;
}
.library{
    display: flex;
    background-color: #2C2C2C;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    letter-spacing: 0.2rem;
    overflow: hidden;
}
.library > * {
    padding: 15px;
    margin: 5px;
}
.library-item{
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition: transform 0.3s ease-in-out;
    background-color: silver;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
    border: 1px solid silver;
    border-radius: 10px;
    width: 300px;
}
.svg-container-left{
    display: flex;
    align-items: center;
    background-color: blanchedalmond;
    border-radius: 20px;
}
.svg-container-right{
    position: relative;
    width: 50px;
    height: 50px;
    background-color: blanchedalmond;
    border-radius: 20px;
}
.inactive{
    background-color: silver;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
    border: 1px solid silver;
    border-radius: 10px;
}
.active{
    background-color: tomato;
    box-shadow: inset 0px 35px 15px 0px rgba(192,192,192,0.2);
    border: 1px solid black;
    border-radius: 10px
}
img{
    max-width: 100%;
    height: 300px;
}
.previous-header{
display: flex;
justify-content: center;
}
.previous-wrapper{
    margin-left: 20px;
    display: flex;
    justify-content: center;
}
.actual-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.next-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.notification-box-info {
    border-radius: 10px;
    display: none;
    position: absolute;
    width: 500px;
    height: 350px;
    background-color: rgba(64, 138, 208);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    z-index: 5;
    opacity: 1;
  }
.notification-image{
    width: 50px;
    height: 50px;
}
.container-box-info{
    display: flex;
    flex-direction: column;
}
.notification-quit-svg{
    display: flex;
    justify-content: flex-start;
}
#svg-quit{
    cursor: pointer;
}
.notification-title{
    display: flex;
    justify-content: center;
}
.layer{
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: slategray;
    pointer-events: none;

}
.content-title{
    display: flex;
    flex-direction: column;
    background-color: #171717;
    color: white;
}
form{
    padding: 30px;
}
.container{
    display: flex;
    height: 600px;
}
.form-container{
    margin-left: 15px;
}
#submit{
    margin-left: 20px;
}
button{
    width: 150px;
    height: 70px;
    border-radius: 15px;
    cursor: pointer;
    border: 1px solid gray;
    box-shadow: 0 0 12px gray;
    background-color: rgba(255,255,255,70%);
}
input{
    margin-left: 10px;
    border-radius: 3px;
    background-color: rgba(255,255,255,70%);
}
button:hover{
    background-color: gray;
}
.library-show {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.book-container{
    padding: 5px;
    display: grid;
    width: 100%;
    overflow: scroll;
    grid-template-rows: repeat(1,minmax(150px,1fr));
    grid-template-columns: repeat(5,minmax(150px,1fr));
    grid-auto-rows: minmax(150px,1fr);
    grid-auto-columns: minmax(150px,1fr);
    gap: 20px;
    border: 1px solid black;
    justify-content: center;
}
.book-container > div {
    border: 1px solid blue;
    padding: 30px;
}
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.modal-block {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #171717;
    padding: 20px;
    z-index: 1000;
    width: 1000px;
    height: 900px;
    overflow: scroll;
}
#insert-book{
    width: 175px;
    height: 75px;
    background-color: aquamarine;
}
#insert-book:hover{
    background-color: aqua;
    transform: scale(1.4);
}
#button-right:hover{
    cursor: pointer;
}
#button-left:hover{
    cursor: pointer;
}
.svg-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 200px;
    margin-top: 20px;
}
.required-fields{
    margin-top: 15px;
}
.bt-cnt{
    display: flex;
}
.button{
    margin-top: 30px;
}
.library-check{
    display: flex;  
}
.modal-svg-style{
    background-color: gray;
    cursor: pointer;
}
.modal-svg-style:hover{
    background-color: rgba(128,128,128, 60%);
}
.library-exit{
    width: 50px;
    height: auto;
}
.image-file-style{
    display: flex;
    justify-content: center;
    height: 100px;
}
.flex-form-holder{
    display: flex;
    flex: auto;
    flex-direction: column;
    height: 100%;
}
.image-preview{
    height: 100%;
    width: 100%;
}
.image-preview img{
    margin-top: 15px;
    border-radius: 10px;
    max-height: 300px;
}
.book-container img{
    width: 100%;
    object-fit: cover;
}
.library-item > .content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: silver;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.7);
    border: 1px solid silver;
    border-radius: 10px;
}
.wrapper{
    display: flex;
    flex-direction: column;
}
.wrapper > .image-holder{
    display: flex;
    justify-content: center;
}
.image-holder img{
    height: 300px;
    max-width: 100%;
}
.content-library{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.svg-wrapper{
    display: flex;
    justify-content: space-evenly;
}
.svg-styles{
    cursor: pointer;
    background-color: gainsboro;
    padding: 30px;
}
.svg-styles:hover{
    background-color: rgba(220,220,220,0.5);
}
svg:hover{
    background-color: rgba(0,0,0,0.1);
}